.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  /* .social-media {
    display: flex;
    justify-content: center;
  }
  
  .right-developer {
    display: flex;
    justify-content: center;
  }
   */